# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SuperPotooWorld.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\isl4s\Documents\GitHub\SuperPotooWorld\SuperPotooWorld\.idea\.idea.SuperPotooWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
